@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Dancing Script', cursive;
    font-family: 'Satisfy', cursive; */
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
.body{
    min-height:1000px;
}
nav{
    background-color: rgb(245, 249, 249);
    width:100%;
    height:90px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right:0;
    z-index: 999;
    /* box-shadow:5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green; */
   /* background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100% ); */
    /* transform: translate3d(0px, 20px, 0) scale(0.95);     */
    /* padding:20px;  */
     
}

nav:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #F3F4F7 0%, #CACCD1 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
nav::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        
nav .logo{
    display: flex;
    align-items: center;
    font-size:2.4rem;
    font-weight: 200;
    /* justify-content: space-around; */
    justify-content: center;
    cursor:pointer;
    color:rgb(247, 97, 212);
}
span{
    color:orange;
}
nav .logo img{
    width:80px;
    cursor:pointer;
    margin-top:8px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    display: inline-block;
    line-height:40px;
    margin:0 5px;
}
nav ul li a{
     color:rgb(15, 14, 14);
    font-size:1.2rem;
    font-weight: 300;
    padding:0px 10px; 
    cursor: pointer;
    transition:0.3s;
}
a:hover{
    color:#fda211;
}

.banner{
    width: 100%;
    height:600px;
    /* background-image: url('../Images/jakub-kapusnak.jpg'); */
    background-size: cover;
    background-position:center;
    padding:10px 8%;
    position: relative;
    display: flex;
    align-items:center;
    /* opacity:0.5; */
}
h1{
    text-align: center;
    color: rgb(255, 0, 183);
    font-size:4rem;
    font-weight: 300;
    padding-top:10vh;
    line-height:2;
    margin-bottom:60px;
    margin-top:50px;
}
p{
    color:rgb(250, 246, 246);
    font-weight:300px;
    font-size:2rem;
    /* box-shadow:rgb(3, 3, 3); */
    color:rgb(9, 9, 9);
    text-align: center;
    text-decoration: none;
    margin-bottom:50px;
}
.btn{
     padding:8px 20px;
     background: #a0e9b0;
     border-top-left-radius:8px;
     border-top-right-radius:8px;
     color: #fda211;
     text-decoration: none;
     transition:0.3s;
     font-size:2rem;
     cursor:pointer;
    /* font-size:1.5rem;
    background-color: #83f89c;
    color: rgb(252, 10, 10);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    border-radius:2px;
    text-decoration: none;
    transition:0.5s;
    /* display: inline-block; 
     /* text-align: center;  
    letter-spacing:1px;
    margin-bottom:50px; */
}
.btn a:hover{
    /* color: #fda211; */
    letter-spacing:2px;
    color:#e9668e ;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top:30px;
}
.about .menu img{
    width:500px;
    margin-left:30px;
}
.about .tag h2{
    font-size:3rem;
    margin-bottom:30px;
    align-items: center;
    font-weight: 300px;
    margin-left:20px;
    /* color: aqua; */
}
.tag h3{
    font-size:1.5rem ;
    font-weight:200px;
    align-items: center;
    margin-bottom:20px;
    color: #efa4bb;
    
}
.tag h3 span{
    color: #fda211;
}

.tag p{
    width:500px;
    text-align: justify;
    line-height:23px;
    margin-bottom:20px;
    font-size:1.2rem;
    margin-right:20px;
    margin-left:20px;
}
.tag .about_btn{
     padding:8px 20px;
     background: #a0e9b0;
     border-top-left-radius:8px;
     border-top-right-radius:8px;
     color: #fda211;
     text-decoration: none;
     transition:0.3s;
     font-size:2rem;
     cursor:pointer;
}
.tag .about_btn:hover{
    color:#e9668e ;
}


.footer .box-container2{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    /* flex-wrap: wrap; */
    gap:1rem;
    background-color: rgb(245, 183, 147);
    width:100%;
    height:55vh;
    /* margin-bottom:50px; */
}
.heading h1{
    color: #68adf1;
    text-align: center;
    /* margin-bottom:100px; */

}

.footer .box-container2 .box{
    flex:1 1 25rem;
}

.footer .box-container2 .box h6{
    color:rgb(65, 42, 243);
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    margin-bottom:50px;
}

.footer .box-container2 .box a{
    display: block;
    color:#333;
    font-size: 1.5rem;
    padding:1rem 0;
    text-align: center;
}

.footer .box-container2 .box a:hover{
    color:#fda211;
    /* text-decoration: underline; */
}

/* .footer .box-container2 .box  img{
    margin-top: 1rem;
} */































.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    }
    #check{
    display: none;
    }
    @media (max-width: 952px){
    nav .logo{
     font-size: 30px;
     padding-left: 50px;
     
    }
    
    nav ul li a{
     font-size: 16px;
    }
    }
    @media (max-width: 858px){
    .checkbtn{
     display: block;
     color: black;
    }
    ul{
     position: fixed;
     width: 100%;
     height: 80vh;
     background: #78b4f0;
     top: 80px;
     left: -100%;
     text-align: center;
     transition: all .5s;
     z-index: 599;
     margin-top:20px; 
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    }

    nav ul li{
     display: block;
     margin: 30px 0;
     line-height: 30px;
    }
    nav ul li a{
     font-size: 20px;
    }
    a:hover,a.active{
     background: none;
     color: #fda211;
    }
    #check:checked ~ ul{
     left: 0;
    }
    }

@media screen and (max-width:850px) {
    #banner{
        width:100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* margin-top: 55px */
    }
    #banner .home h1{
        font-size: 3rem ;
    }
    #banner .home h1 span{
        font-size: 3rem ;
    }
}

